[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
ipython = "*"
pylint = "*"
mypyls = {extras = ["default-mypy"],file = "https://github.com/matangover/mypyls/archive/master.zip"}
black = "*"
profiling = "*"

[packages]
aiohttp = "*"
requests = "*"
uvloop = "*"
pymonads = "*" 
rejson = "*"
redis = "*"
six = "*"
aiologger = "*"
hypothesis = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
